# Postrgres Config
POSTGRES_USER=finledger
POSTGRES_PASSWORD=finledger
POSTGRES_DB=finledger
POSTGRES_PORT=5432

# DB Init
DB_INIT_MAX_ATTEMPTS=10
DB_INIT_SLEEP_SECONDS=5

# Web Config
PORT=3050
ADMIN_USERNAME=admin
ADMIN_PASSWORD=super_secret_password_3!
ADMIN_EMAIL=admin@finledger.local
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User